@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;700&display=swap');

$body-ff: Raleway, sans-serif;
$logo-ff: 'Pacifico', cursive;

$body-color: #262626;
$primary-color: #355b82;
$secondary-color: #fff;
$footer-color: #b9b9b9;
$marked: #ff2b58;

$border-width: 5px;

$input-bg: #00c4c4;
$bg-body: $secondary-color;