@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

$body-ff: 'Quicksand', sans-serif;

$body-bg: #e5eeee;
$body-color: #fbf6e4;

$primary-color: #23ae92;
$border-bm-color: #e66a64;
$secondary-color: #fff;

$border-width: 2px;
$letter-space: 1px;



